{% extends 'main_pID/base.html' %}
{% load static %}
{% block content %}
<h2>PlasmidID</h2>
<div class="container">
    <div class="row margin-t-20">
      <div class="col-sm-12 col-md-4 intro">
        <p class="lead">PlasmidID is designed to be a mapping-based contig assisted tool for plasmid identification,
          annotation, classification and representation.</p>
        <p>This tool offers an easy-to-intrepret image that answers most of questions a researcher can retrieve from WGS-HTS
        about plasmids in their sample.</p>
      </div>
      <div class="col-sm-12 col-md-4">
            <img class="promo-block-img img-responsive" src="{% static "img/KPN30_000240185_NC_016846.1.png" %}" align="Avatar">
      </div>
      <div class="col-sm-12 col-md-4">
            <img class="promo-block-img img-responsive" src="{% static "img/circos_draw.png" %}" align="Avatar">
      </div>
    </div>

    <hr>
    <div class="row margin-t-20">
      <div class="col-md-6 intro-dl">
        <dl class="dl-horizontal">
          <dt>Easy installation</dt>
          <dd>Implemented in a version-independent language programming and dependency installation is assisted</dd>

          <dt>Plasmid identification</dt>
          <dd>Only tool that is mapping-based for plasmid identification.</dd>
        </dl>
      </div>
      <div class="col-md-6 intro-dl">
        <dl class="dl-horizontal">
          <dt>Annotation</dt>
          <dd>Resistance genes, virulence factors and functional annotation is performed.</dd>

          <dt>Reporting</dt>
          <dd>Circos framework is used for creating easy-to-interpret images for researchers.</dd>

          <!-- <dt>Extensible</dt>
          <dd>Helper functions and commented examples make writing your own modules easy.</dd> -->
        </dl>
      </div>
    </div>
    <hr>

   <div class="row margin-t-20">
      <div class="col-sm-4">
        <a class="panel-btn panel-btn-info" href="https://github.com/BU-ISCIII/plasmidID/wiki">
          <i class="fa fa-book"></i><br>
          Read the docs
        </a>
        <span class="visible-xs">&nbsp;</span>
      </div>
      <div class="col-sm-4">
        <a class="panel-btn panel-btn-primary" href="#">
          <i class="fa fa-download"></i><br>
          Download v1.0
        </a>
        <span class="visible-xs">&nbsp;</span>
      </div>
      <div class="col-sm-4">
        <a class="panel-btn panel-btn-success" href="https://github.com/BU-ISCIII/plasmidID">
          <i class="fa fa-github"></i><br>
          PlasmidID on GitHub
        </a>
      </div>
	</div>
	<div class="row margin-t-20">
		<h2>Publication</h2>
		<div class="col-sm-6">
				<p>PlasmiID is in Press on GenomeResearch - see below for details. If you use PlasmidID for your
					research, please consider citing the paper.</p>
				<blockquote>
					<strong>PlasmidID: a mapping based tool for plasmid identification, annotation, classification and representation. Application as high-risk strains plasmid detection.</strong><br/>
					Pedro J. Sola-Campoy, Sara Monzón, María Pérez-Vázquez, Belén Aracil, José Campos, Jesús Oteo, Isabel Cuesta<br/>
					<em>GenomeBiology</em> 2018, <strong>X</strong>X <br/>
					doi: <a href="#" target="_blank">XXXXXXX</a>
				</blockquote>
				<!--<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
				<div data-badge-details="right" data-badge-type="medium-donut" data-doi="10.12688/f1000research.6005.2" class="altmetric-embed"></div>-->
		</div>
   </div>
{% endblock %}
